---
import partnership_1 from "../assets/pic_for_partnership_1.jpg";
import partnership_2 from "../assets/pic_for_partnership_2.png";
---

<section class="bg-[rgb(24,29,40)] py-12 px-4" id="partners">
  <div class="max-w-[1240px] mx-auto space-y-12">
    <!-- Низ: Текст и кнопка -->
    <div class="text-white text-center max-w-3xl mx-auto">
      <h2 class="text-3xl md:text-4xl font-bold mb-6 leading-snug">
        <!-- <span
          class="block text-transparent bg-clip-text bg-gradient-to-r from-red-700 to-[#7F170D]"
        >
          МЫ БУДЕМ РАДЫ
        </span> -->
        <span
          class="block text-transparent bg-clip-text bg-gradient-to-l from-[#F8CB4C] to-[#C58838]"
        >
          МЫ БУДЕМ РАДЫ ВИДЕТЬ ВАС СРЕДИ НАШИХ ПАРТНЕРОВ
        </span>
      </h2>

      <p class="text-gray-400 text-base md:text-lg leading-relaxed mb-8">
        Наша цель — долгосрочное и взаимовыгодное сотрудничество.
        Присоединяйтесь к развитию спорта, поддержите молодёжь и станьте частью
        сильного сообщества.
      </p>

      <div class="pt-4">
        <a
          href="/partners"
          class="inline-flex items-center justify-center bg-gradient-to-l from-[#F8CB4C] to-[#C58838] hover:from-red-700 hover:to-[#7F170D] text-white font-semibold text-sm md:text-lg py-4 px-10 rounded-xl shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1"
        >
          СТАТЬ ПАРТНЕРОМ
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 ml-2 -mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
