<section class="bg-[#303e5d] text-white py-8 px-4">
  <div class="max-w-[1040px] mx-auto text-center">
    <!-- Заголовок -->
    <h2
      class="text-2xl sm:text-3xl md:text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] mb-6"
    >
      Свяжитесь с нами
    </h2>
    <div
      class="w-24 h-1 bg-gradient-to-r from-[#C58838] to-[#F8CB4C] mx-auto rounded-full mb-10"
    >
    </div>

    <!-- Телефон и Email -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mb-12">
      <!-- Телефон -->
      <div class="flex items-start gap-4 justify-start">
        <div
          class="p-3 bg-gradient-to-br from-[#C58838] to-[#F8CB4C] rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-[#181d28]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21L8.967 11.05a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
            ></path>
          </svg>
        </div>
        <div>
          <p class="text-sm text-gray-400 text-start">Телефон</p>
          <a
            href="tel:+79269088695"
            class="text-lg font-medium text-white hover:text-[#F8CB4C] transition-colors"
          >
            +7 (926) 908-86-95
          </a>
        </div>
      </div>

      <div class="flex"></div>

      <!-- Email -->
      <div class="flex items-start gap-4 justify-start">
        <div
          class="p-3 bg-gradient-to-br from-[#C58838] to-[#F8CB4C] rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-[#181d28]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            ></path>
          </svg>
        </div>
        <div>
          <p class="text-sm text-gray-400 text-start">Email</p>
          <a
            href="mailto:tjkjudoinmoscow@mail.ru"
            class="text-lg font-medium text-white hover:text-[#F8CB4C] transition-colors"
          >
            tjkjudoinmoscow@mail.ru
          </a>
        </div>
      </div>
    </div>

    <!-- Юридический адрес -->
    <div class="flex justify-start">
      <div class="flex items-start gap-4 max-w-md">
        <div
          class="p-3 bg-gradient-to-br from-[#C58838] to-[#F8CB4C] rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-[#181d28]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17.657 16.657L13.414 20.9a2 2 0 01-2.827 0L6.343 16.657a8 8 0 1111.314 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
          </svg>
        </div>
        <div>
          <p class="text-sm text-gray-400 text-start">Юридический адрес</p>
          <a href="https://yandex.ru/maps/-/CHvsqSkz">
            <p
              class="text-lg font-medium text-white hover:text-[#F8CB4C] transition-colors text-start"
            >
              Байкальская улица, 35А, Москва
            </p>
          </a>
        </div>
      </div>
    </div>
    <div
      class="w-full h-[1px] bg-gradient-to-l from-[#C58838] to-[#F8CB4C] mx-auto rounded-full mt-12"
    >
    </div>
    <div class="pt-6 text-center text-gray-400 text-sm">
      <p>© {new Date().getFullYear()} TJF. Все права защищены.</p>
    </div>
  </div>
</section>
